<h3>重设密码</h3>

<form action="/change_password" method="post">
  
  <p>
    <label for="email">Email: <%= current_user.email %> </label>
  </p>

  <p>
    <label for="password">旧密码</label>
    <input type="password" name="old_password" />
  </p>

  <p>
    <label for="password">新密码</label>
    <input type="password" name="new_password" />
  </p>
  <p>
    <label for="password">新密码确认</label>
    <input type="password" name="new_password_c" />
  </p>

  <input type="submit" value="重设" />

</form>