<div class="container">
	<div class="hero-unit">
       	<h1>图片分享</h1>
       	<p>图片分享应用！</p>
       	<p><a href="#" class="btn btn-primary btn-large">更 多 »</a></p>
    </div>

    <div class="row">
       	<div class="span4">
        	<h2>我们是谁？</h2>
          	<p>一群码农，想要通过程序改变点什么，于是....你看到了这个页面!</p>
          	<p><a class="btn" href="#">查看详情 »</a></p>
        </div>
        <div class="span4">
          	<h2>我们是谁？</h2>
          	<p>一群码农，想要通过程序改变点什么，于是....你看到了这个页面!</p>
          	<p><a class="btn" href="#">查看详情 »</a></p>
       	</div>
        <div class="span4">
          	<h2>我们是谁？</h2>
          	<p>一群码农，想要通过程序改变点什么，于是....你看到了这个页面!</p>
          	<p><a class="btn" href="#">查看详情 »</a></p>
        </div>
	</div>
</div>
